<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\Hsec.WebApi.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" requestTimeout="00:15:00" />
      <security>
        <requestFiltering>
          <!-- This will handle requests up to 500MB -->
          <requestLimits maxAllowedContentLength="524288000"/>
        </requestFiltering>
      </security>

    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 2e4e51f5-5894-4ea1-a007-f2e8da215ac0-->